<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Twitch spotify bot</title>
  <style>
    .container {
      display: flex;
      align-items: center;
      font-family: "Lato", sans-serif;
    }

    .content {
      display: flex;
      flex-flow: column wrap;
      align-items: flex-start;
      margin-left: 1em;
      font-size: 1.5rem;
      color: white;
    }

    img {
      width: 4em;
    }
  </style>
</head>
<body>
    {{{body}}}
</body>
</html>