<div class="container">
  <img src="{{{image}}}" alt="album">
  <span class="content">
    <div>
      {{name}}
    </div>
    <div>
      <small>{{artist}}</small>
    </div>
  </span>
  <script>
    setTimeout(() => window.location.reload(), {{duration}} - {{progress}})
  </script>
</div>